dj-database-url==1.0.0
dj-rest-auth==2.2.5
Django==4.1
django-allauth==0.51.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
gunicorn==20.1.0
Pillow==9.1.1
psycopg2==2.9.3
PyJWT==2.4.0
pycparser==2.21
python-decouple==3.6
python-dotenv==0.20.0
whitenoise==6.2.0